.navbar{
    border-bottom:5px solid blue;
}
#showcase{
    background: url(img/mountains.jpg);
    min-height: 600px;
    /* position: relative; */
}
#showcase .primary-overlay{
    background: rgba(0, 0, 255, 0.5);
    /* min-height: 700px; */
    width: 100%;
    height: 100%;
    /* position: absolute;
   
    top: 0;
    left: 0; */
}
